<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dietmanager.dietician">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.SubscribePlansActivity"></activity>
        <activity android:name=".activity.SubscribedMembersActivity" />
        <activity android:name=".activity.AssignChefListActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserRequestActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"  />
        <activity
            android:name=".activity.InviteLinkActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"  />
        <activity
            android:name=".activity.OrderRequestDetailActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"  />
        <activity
            android:name=".activity.AddSubscriptionPlanActivity"
            android:configChanges="screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.MobileNumberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DietitianMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ImageGalleryActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.BankDetailsActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HistoryActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddOnsActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddAddOnsActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductsActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity=".products" />
        <activity
            android:name=".activity.CategoryActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GuideLinesActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PortfolioActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddCategoryActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddProductActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddFoodActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChooseAddFoodOptionActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AutoSearchFoodActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RestaurantTimingActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditRestaurantActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RequestAcceptActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TakeAwayActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderDetailActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeliveriesActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FoodSafetyActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DocumentViewActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotPassword"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OtpActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductAddOnActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductAddOnListActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BankDetailActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />

        <service android:name=".notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="995d4db952b022cae648a19c5cf55d68cc7ad58a" />
    </application>

</manifest>