<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oyola.restaurant">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name="com.oyola.restaurant.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.oyola.restaurant.activity.HomeActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity android:name="com.oyola.restaurant.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oyola.restaurant.activity.LoginActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.RegisterActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.oyola.restaurant.activity.ImageGalleryActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.oyola.restaurant.activity.BankDetailActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
             />
        <activity
            android:name="com.oyola.restaurant.activity.EditProfileActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.HistoryActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.AddOnsActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.AddAddOnsActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.ProductsActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity=".products" />
        <activity
            android:name="com.oyola.restaurant.activity.CategoryActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.AddCategoryActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.AddProductActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.RestaurantTimingActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.ChangePasswordActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.EditRestaurantActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.RequestAcceptActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.TakeAwayActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.OrderDetailActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.DeliveriesActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.ForgotPassword"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.OtpActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.ResetPasswordActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.ProductAddOnActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oyola.restaurant.activity.ProductAddOnListActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />

        <service android:name="com.oyola.restaurant.notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="995d4db952b022cae648a19c5cf55d68cc7ad58a" />
    </application>

</manifest>